body {
    background-color: #292929;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
}

h1, h2, h3, h4 {
    color: #fff;
    text-align: center;
}

#gallery{
padding: 100px;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(280px,1fr));
  gap:20px;
  align-items: center;
}

.video-card{
  background:#c9c9c9;
  border-radius:12px;
  overflow:hidden;
  box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.video-preview video{
  width:100%;
  height:220px;
  object-fit:cover;
  display:block;
}

.content{
  padding:12px;
}

.tags{
  display:flex;
  flex-wrap:wrap;
  gap:6px;
}

.tag{
  background:#ececec;
  padding:4px 8px;
  border-radius:999px;
  font-size:12px;
}

#queue {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: flex-start;
}

.video-item {
  width: 240px;
  padding: 10px;
  border: 1px solid #444;
  border-radius: 10px;
  background: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.video-item video {
  width: 100%;
  height: auto;
  display: block;
  background: #000;
  border-radius: 8px;
}

.upload-actions {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#btnUpload {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
}


.box {
      max-width: 90%;
      margin: auto;
      background: #1e1e1e;
      padding: 20px;
      border-radius: 10px;
    }

    input {
      width: 100%;
      margin-top: 10px;
      padding: 10px;
    }

    button {
      width: 80%;
      margin-top: 15px;
      padding: 10px;
      background: #00c2ff;
      border: none;
      cursor: pointer;
    }

    /* video {
      width: 100%;
      margin-top: 10px;
      display: none;
    } */